---
---
@import "{{ site.theme }}";

html[data-mode=light] {
    --link-color: hsl(155, 43%, 38%);
    --heading-color: hsl(155, 43%, 38%);
    --toc-highlight: hsl(155, 43%, 38%);
    --prompt-danger-bg: hsl(3deg 100% 38% / 20%);
}


html:not([data-mode]),
html[data-mode=dark] {
    --link-color: hsl(155, 42%, 43%);
    --heading-color: hsl(155, 42%, 43%);
    --toc-highlight: hsl(155, 42%, 43%);
    --main-wrapper-bg: hsl(240, 14%, 7%);
    --main-bg: hsl(240, 14%, 7%);
    --sidebar-bg: radial-gradient(circle, #0f0f14 0%, #17181f 100%);
    --card-bg: radial-gradient(circle, #0f0f14 0%, #17181f 100%);
    --topbar-wrapper-bg: rgb(18 20 26);
    --search-wrapper-bg: rgb(29, 29, 35);
    --prompt-danger-bg: hsl(3deg 100% 38% / 20%);
    --highlight-bg-color: #191819;
}